{* The following are the closing tags for the structural body markup included in the header *}
</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

</td>
</tr>
</table>


<table cellpadding="0" border="0"
       style="line-height: 1.2em; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; border-spacing: 0; font-size: 100%;  margin-top:40px; margin-bottom:40px;"
       cellspacing="0" width="620" align="center">
    <tbody>

    <tr valign="top">
        <td width="620" style="border-spacing: 0;text-align: center;">
            <p style="text-align: center; margin: 0; padding: 5px 4px; font-size: 12px; color: #b8b8ba;
                                  font-weight: regular; line-height: 16px; font-family: 'Helvetica Neue', Helvetica,
                                  Arial, sans-serif;  text-shadow: 0 1px 0 #fff;">

                You received this message because you have an active project with
                {function="get_config('company.name')"}.
                <a href={function="get_config('base_url')"} style="color: #b8b8ba; text-decoration:
                underline;">
                Click here to log in.
                </a>
            </p>

            <p style="text-align: center; margin: 0; padding: 5px 4px; font-size: 10px; color: #b8b8ba;
                                  font-weight: regular; line-height: 16px; font-family: 'Helvetica Neue', Helvetica,
                                  Arial, sans-serif;  text-shadow: 0 1px 0 #fff;">

                <a href="https://avaluxinc.com" style="color: #98989a; text-decoration:
                none;">AVALUX
                </a>
            </p>
        </td>
    </tr>

    </tbody>
</table>
</td>
</tr>
</table>
</body>
</html>