/*==================================================================================================================*/
/* COPYRIGHT 2014 JEREMY BUFF / AVALUX INCORPORATED, A LAKE MARY, FLORIDA CORPORATION
/*
/* ***NOTICE***
/* All markup, code, images, terminology, copyright 2014 AVALUX INCORPORATED
/* unless otherwise stated, and should not be used for profit by any other
/* entity, individial, corporation, company, et cetera.
/*
/* Proudly Made in the U.S.A.
/*
/* See http://avaluxinc.com/about for site credits.
/*===================================================================================================================*/





/*----------------------------------------------------------------------------*\
    Browser Reset
/*----------------------------------------------------------------------------*/
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}


/*----------------------------------------------------------------------------*\
    Global Document
/*----------------------------------------------------------------------------*/
html {

}

body {
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
	font-size: 16.5px;
}


/*----------------------------------------------------------------------------*\
    Type
/*----------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;
	color: #4a4e60;
}

h4 {
	color: #57819B;
}

p, ul, ol, div {
	font: normal normal 300 1em/1.6em 'Helvetica Neue',Helvetica,Arial,sans-serif;
	letter-spacing: 1.2px;
	color: #707070;
}

main ul, main ol {
	margin: 25px 0;
}

strong {

}

.two-col-list {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	list-style-position: inside;
	padding: 0;
}

a, li {
	-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;
	transition: .25s;
}

a {
	color: rgba(8,81,123,1);
}

a:hover {
	text-decoration: none;
	color: rgba(8,81,123,0.50);
}

a:active, a:visited {
	border: none;
	outline: none;
	text-decoration: none;
}

.dark {
	background: #3F3D3D;
}

.dark h1, .dark h2, .dark h3 {
	color: #e7e7e7;
}

.dark p, .dark li {
	color: #e7e7e7;
}

.dark a {
	color: #428bca;
}

.dark a:hover {
	color: #80b0da;
}

.dark strong {
	font-weight: normal;
	color: #e0f3ff;
}

section {
	padding: 50px 0;
}

.btn {
	background: #d7d7d7;
	border-radius: 0;
	color: rgba(8,81,123,0.50);
}

.btn:hover {
	background: #b4b4b4;
	color: rgba(8,81,123,1);
}

form .btn, .btn-color {
	background: #83a7bc;
	color: #fff;
}



form .btn:hover, form .btn:active, .btn-color:hover {
	background: #7396ab;
	color: #fff;
}


hr.fancy {
    padding: 0;
    border: none;
    border-top: medium double #b4b4b4;
    color: #333;
    text-align: center;
    margin: 50px 0;
}
hr.fancy:after {
    content: "§";
    color: #b4b4b4;
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: transparent;
}

hr.fancy2 {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

/*----------------------------------------------------------------------------*\
    Container
/*----------------------------------------------------------------------------*/

.container-fluid {
	padding: 0;
	z-index: 10;
	position: relative;
	background: url('../img/noise.png') top left repeat;
	background-size: 476px 476px;
}

.container {
	width: 85%;
}

/*----------------------------------------------------------------------------*\
    Home Masthead
/*----------------------------------------------------------------------------*/
#masthead {
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	position: relative;
	z-index: 1;
}

body.page #masthead {
	min-height: 100px;
}

body.page.logo #masthead::after, #masthead::after {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-size: cover;
	opacity: .5;
	content: "";
	position: fixed;
	pointer-events: none;
	z-index: 1;
}

body.page #masthead::after {
	height: 50%;
	z-index: 1;
}


body.home #masthead::after {
	background: url('../img/orlando.jpg') center center no-repeat;
	background-size: cover;
	z-index: 1;
}

body.page.normal #masthead::after {
	background: url('../img/page-header.jpg') 60% center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.about #masthead::after {
	background: url('../img/sailboat.jpg') 60% center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.faq #masthead::after {
	background: url('../img/faq.jpg') 60% center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.referrals #masthead::after {
	background: url('../img/referrals.jpg') 60% center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.services #masthead::after {
	background: url('../img/services.jpg') 60% top no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.webdesign #masthead::after {
	background: url('../img/service-web-design.jpg') 60% top no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.portfolio #masthead::after {
	background: url('../img/portfolio-masthead.jpg') top center no-repeat;
	background-size: cover;
	opacity: 1;
}


body.page.packagespeak #masthead::after {
	background: url('../img/portfolio/packagespeak-large.jpg') center center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.jimbuffteam #masthead::after {
	background: url('../img/portfolio/jimbuffteam-large.jpg') center center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.harleydavidsonboots #masthead::after {
	background: url('../img/portfolio/harleydavidsonboots-large.jpg') center center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.inheritancemap #masthead::after {
	background: url('../img/portfolio/inheritancemap-large.jpg') center center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.press.packagespeak #masthead::after {
	background: url('../img/press/press-packagespeak.jpg') center center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.press.jeremiahsice #masthead::after {
	background: url('../img/press/press-jeremiahsice.jpg') center center no-repeat;
	background-size: cover;
	opacity: 1;
}


body.page.springcleaning #masthead::after {
	background: url('../img/offer-spring-cleaning-2.jpg') 80% top no-repeat;
	background-size: cover;
	opacity: 1;
}


body.page.logo #masthead::after {
	z-index: -1000;
}

body.page.logo #masthead img {
	max-height: 200px;
	position: fixed;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	top: 15%;
}

body.page.logo #masthead img.smaller {
	width: 50%;
}

.fadein {
    opacity:0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }





body.page.contact #masthead::after {
	background: url('../img/map.jpg') center center no-repeat;
	background-size: cover;
	opacity: 1;
}

body.page.apv #masthead::after {
	background: url('../img/charity.jpg') 60% center no-repeat;
	background-size: cover;
	opacity: .2;
}



body.page.legal #masthead::after {
	background: url('../img/legal.jpg') 60% bottom no-repeat;
	background-size: cover;
	opacity: 1;
}


.helper {
	display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#masthead img {
    vertical-align: middle;
    height: auto;
    max-height: 70px;
    max-width: 90%;
}

/*----------------------------------------------------------------------------*\
    Main Navigation
/*----------------------------------------------------------------------------*/

#main-nav {
	background: #fff;
/* 	background: url('../img/noise.png') top left repeat fixed; */
	background-size: 476px 476px;
	min-height: 50px;
	z-index: 10;
}

#main-nav .logo-small {
	width: 300px;
	float: left;
	margin: 17px 0;
}

#main-nav ul {
	margin-bottom: 0;
	padding: 15px;
	text-align: right;
}

#main-nav ul li {
	white-space: nowrap;
	margin-right: 1.2em;
}

#main-nav ul li:last-of-type {
	margin-right: 0;
	background: rgba(8,81,123,0.50);
	border-radius: 3px;
}

#main-nav ul li:last-of-type:hover {
	background: rgba(8,81,123,0.65);
}

#main-nav ul li:last-of-type a, #main-nav ul li:last-of-type a:hover {
	color: #fff;
}


#main-nav ul li:last-of-type a span {
	font-size: .8em;
}

#main-nav ul li a {
	/* font: font-style font-variant font-weight font-size/line-height font-family; */
	font: normal normal bold 1em/1em 'PT Sans', serif;
	letter-spacing: .1em;
	text-transform: uppercase;
	color: #707070;
	font-weight: normal;
}

#main-nav ul li a:hover, #main-nav ul li a.active {
	color: #09517a;
	text-decoration: none;
}

#main-nav.affix {
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

#main-nav.affix + * {
	margin-top: 112px; /* Double height of nav */
}

/* Mobile Nav */

#menu-btn {
	float: right;
	margin-top: 12px;
}

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu{
	display: none;
	margin-top:35px;
	clear: both;
}

.responsive-menu ul {
	list-style: none;
}

.responsive-menu ul li {
	text-align: center;
	font-size: 1.2em;
	line-height: 2;
}

#main-nav .responsive-menu ul li:last-of-type {
	background: none;
	margin-right: 1.2em;
}

#main-nav .responsive-menu ul li:last-of-type a {
	color: #707070;
}

.expand {
	display: block !important;
}

/*----------------------------------------------------------------------------*\
    Main Content
/*----------------------------------------------------------------------------*/
main {
	margin-top: 56px; /* Height of nav */

}

/*----------------------------------------------------------------------------*\
    Homepage Styles
/*----------------------------------------------------------------------------*/

	.home-section {
		padding: 50px 0;
	}

	.home-section:first-of-type {
		padding-top: 0;
	}

	/*----------------------------------------------------------------------------*\
	    Who Is AVALUX Section
	/*----------------------------------------------------------------------------*/

	.phone-container {
		text-align: center;
		position: relative;
	}

	.phone-number {
		display: inline-block;
	}

	.phone-number p {
		float: left;
		display: block;
		margin: 0;
		text-transform: uppercase;
	}

	.phone-number a {
		font: normal normal normal 3em/1 'Merriweather', serif;
		color: #4a4e60;
		vertical-align: middle;
		display: block;
		clear: both;
	}

	.phone-number a:hover {
		text-decoration: none;
	}


	/*----------------------------------------------------------------------------*\
	    Home Philosophy Section
	/*----------------------------------------------------------------------------*/
	#philosophy {
		/* background: #3F3D3D url('../img/home-section-philosophy.jpg') top left no-repeat; */
		background: #3F3D3D;
		background-size: 839px 500px;
		/* min-height: 500px; */
		padding-bottom: 40px;
	}

	#philosophy h2 {
		margin-top: 50px;
	}

	#philosophy li {
		clear: both;
		line-height: 4.5em;
	}

	#philosophy li img {
		float: left;
		height: 80px;
		width: 80px;
	}

	.heartbeat:hover img {
		-webkit-animation: beat .25s infinite alternate;
		-moz-animation: beat .25s infinite alternate;
		-ms-animation: beat .25s infinite alternate;
		-o-animation: beat .25s infinite alternate;
		animation: beat .25s infinite alternate;

		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-o-transform-origin: center;
		-ms-transform-origin: center;
		transform-origin: center;
    }

    .hammer:hover img {
		-webkit-animation: hammer .25s infinite alternate;
		-moz-animation: hammer .25s infinite alternate;
		-ms-animation: hammer .25s infinite alternate;
		-o-animation: hammer .25s infinite alternate;
		animation: hammer .25s infinite alternate;

		-webkit-transform-origin: center;
		-moz-transform-origin: center;
		-o-transform-origin: center;
		-ms-transform-origin: center;
		transform-origin: center;
    }

    .phone:hover img {
    	-webkit-animation: shake .8s infinite linear;
    	-moz-animation: shake .8s infinite linear;
    	-ms-animation: shake .8s infinite linear;
    	-o-animation: shake .8s infinite linear;
    	animation: shake .8s infinite linear;

		-webkit-transform-origin:50% 50%;
		-moz-transform-origin:50% 50%;
		-ms-transform-origin:50% 50%;
		-o-transform-origin:50% 50%;
		transform-origin:50% 50%;
    }


/*----------------------------------------------------------------------------*\
    Text Styles
/*----------------------------------------------------------------------------*/

blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  border: none;
}

blockquote.halfright {
	float: right;
	width: 40%;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.15em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
  font-style: italic;
  font-family: 'Merriweather', serif;
}

/*----------------------------------------------------------------------------*\
    Services Styles
/*----------------------------------------------------------------------------*/

#services {
	background: rgba(255,255,255,.4);
	padding: 0;
}

.service {
	border-bottom: 1px dashed #cdcdcd;
	padding-top: 0px;
	padding-bottom: 35px;
	position: relative;
}

.service .image {
	position: absolute;
	width: 300px;
	padding-top: 0;
	height: 100%;
	top: 0;
}

.service:nth-child(2n) .image {
	right: 20px;
}

.service .image i {
	position: absolute;
	font-size: 96px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}


.service .description {
	margin-left: 260px;
	padding: 40px;
}

.service:nth-child(2n) .description {
	margin-left: 0;
	margin-right: 260px;
	text-align: right;
}

.service p {
	text-align: justify;
}


/*----------------------------------------------------------------------------*\
    Portfolio Styles
/*----------------------------------------------------------------------------*/
#project-overview p {
	text-align: justify;
}


.more-info {
	margin-top: 80px;
	padding-left: 50px;
}

.more-info > div {
	background: #dddddd;
	padding: 20px;
	padding-left: 20px;
}

.icon-text i {
	float: left;
	line-height: 180%;
}

.icon-text p {
	padding-left: 15px;
	overflow: hidden;
	text-align: left !important;
}


.portfolio-item  {
	margin-bottom: 30px;
	opacity: .8;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

.portfolio-item:hover {
	opacity: 1;
}

#more-projects {
	background: #cecece;
	padding: 0 20px 0 20px;
}

#more-projects h3 {
	padding: 15px 0;
	margin: 0;
}


/*----------------------------------------------------------------------------*\
    Contact Styles
/*----------------------------------------------------------------------------*/

#contact-form {
	margin-top: 50px;
}


/*----------------------------------------------------------------------------*\
    Sidebar
/*----------------------------------------------------------------------------*/

aside#sidebar {
	padding-left: 50px;
}

aside#sidebar .item {
	border-bottom: 1px dashed #cdcdcd;
	padding: 20px 0;
}

aside#sidebar .item:not(:first-of-type) {
	padding-top: 20px;
}


/*----------------------------------------------------------------------------*\
    Footer
/*----------------------------------------------------------------------------*/

footer {
	background: rgba(77,106,126,1);
	overflow: hidden;
}

footer .phone-container {
	height: 300px;
}

 footer .phone-container .helper {
	 height: 350px;
 }


footer .phone-container * {
	color: #fff;
}








































/*----------------------------------------------------------------------------*\
    Animations
/*----------------------------------------------------------------------------*/

@keyframes "beat" {
 to {
    -webkit-transform: scale(1.4);
   	-moz-transform: scale(1.4);
   	-o-transform: scale(1.4);
   	-ms-transform: scale(1.4);
   	transform: scale(1.4);
 }

}

@-moz-keyframes beat {
 to {
   -moz-transform: scale(1.4);
   transform: scale(1.4);
 }

}

@-webkit-keyframes "beat" {
 to {
   -webkit-transform: scale(1.4);
   transform: scale(1.4);
 }

}

@-ms-keyframes "beat" {
 to {
   -ms-transform: scale(1.4);
   transform: scale(1.4);
 }

}

@-o-keyframes "beat" {
 to {
   -o-transform: scale(1.4);
   transform: scale(1.4);
 }
}







@keyframes "hammer" {
 to {
    -webkit-transform: rotate(20deg);
   	-moz-transform: rotate(20deg);
   	-o-transform: rotate(20deg);
   	-ms-transform: rotate(20deg);
   	transform: rotate(20deg);
 }

}

@-moz-keyframes hammer {
 to {
   -moz-transform: rotate(20deg);
   transform: rotate(20deg);
 }

}

@-webkit-keyframes "hammer" {
 to {
   -webkit-transform: rotate(20deg);
   transform: rotate(20deg);
 }

}

@-ms-keyframes "hammer" {
 to {
   -ms-transform: rotate(20deg);
   transform: rotate(20deg);
 }

}

@-o-keyframes "hammer" {
 to {
   -o-transform: rotate(20deg);
   transform: rotate(20deg);
 }
}





@-webkit-keyframes shake {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}




/*----------------------------------------------------------------------------*\
    Universal Tools
/*----------------------------------------------------------------------------*/

.arrow-wrapper {
  position: absolute;
  bottom: 0;
  height: 15px;
  width: 100%;
  display: table-cell;
  z-index: 4;
}

.arrow-wrapper:after {
	content: " ";
	display: block;
	height: 100%;
	width: 100%;
	margin-top: 15px;
}

.arrow-left-fill {
  width: 50%;
  position: absolute;
}
.arrow-left-fill .inner-fill {
  background: #fff;
  height: 15px;
  margin-right: 21.5px;
}

.arrow-right-fill {
  height: 15px;
  width: 50%;
  position: absolute;
  right: 0px;
}
.arrow-right-fill .inner-fill {
  background: #fff;
  height: 15px;
  margin-left: 21.5px;
}

.arrow {
  height: 15px;
  width: 43px;
  left: 50%;
  margin-left: -21.5px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  background-image: url('../img/arrow.png');
}


/*----------------------------------------------------------------------------*\
    Retina Media Queries
/*----------------------------------------------------------------------------*/

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    /* Retina-specific stuff here */
}


/*----------------------------------------------------------------------------*\
    Responsive Media Queries
/*----------------------------------------------------------------------------*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 450px) {
	#main-nav .logo-small {
		width: 200px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.phone-number p {
		text-align: center;
		float: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

	.phone-container {
		height: 200px;
	}

	.phone-number p {
		text-align: left;
		float: left;
	}

	.phone-number a {
		/* Disable clicking the phone number on desktops */
		cursor: default;
		pointer-events: none;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.phone-number p {
		text-align: left;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 2000px) {
	p {
		font-size: 1.3em;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1220px) {
	.mobile-nav {
		display: none;
	}
}

@media only screen and (max-width : 1220px) {
	#main-nav ul.list-inline {
		display: none;
	}
}









